<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<title><%- title %></title>
	<meta name="description" content="<%- description %>">
	<meta name="keywords" content="<%- keywords %>">
	<link rel="icon" href="<%= constants.assetsPath %>images/common/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" href="<%= constants.assetsPath %>images/common/apple-touch-icon.png" />
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://oreo-collabo-coorde.com/">
	<meta property="og:title" content="<%- title %>">
	<meta property="og:image" content="<%= constants.assetsPath %>images/common/ogp.jpg">
	<meta property="og:description" content="<%- description %>">
	<meta property="og:site_name" content="<%- title %>">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" content="https://oreo-collabo-coorde.com/">
	<meta name="twitter:title" content="<%- title %>">
	<meta name="twitter:description" content="<%- twitterDesc %>">
	<meta name="twitter:image" content="<%= constants.assetsPath %>images/common/ogp.jpg">
	<link rel="stylesheet" href="<%= constants.assetsPath %>css/style.css">
	<script src="<%= constants.assetsPath %>js/script.js" defer></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<%- constants.gaTag %>
</head>

<body>
	<header class="header">
	</header>
